<html>
<head>
    <title>lisk.builders - Making Lisk better Block by Block!</title>
    <meta name="keywords" content="lisk crypto blockchain currency pool developers earn team community delegate delegates builders lotto lottery">
    <meta name="description" content="lisk.builders a community of individual delegates who actively contribute to the future of Lisk.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/spectre.min.css?v=<%= htmlWebpackPlugin.options.version %>">
    <link rel="stylesheet" href="static/css/custom.css?v=<%= htmlWebpackPlugin.options.version %>">
    <link rel="shortcut icon" href="">
</head>
<body>
    <div id='root'>
      <div class="loading"></div>
    </div>
    <script src="static/bundle.js?v=<%= htmlWebpackPlugin.options.version %>"></script>
</body>
</html>
